<div class="container mx-auto px-4">
  <p class="text-green-500"><%= notice %></p>

  <p class="mt-4 text-center text-2xl md:text-3xl">連絡事項一覧デプロイテスト</p>

  <div class="flex justify-center my-4">
    <% if Rails.application.credentials.dig(:external_url, :hidden_link) %>
      <%= link_to '配車表', '/secret-link', class: 'px-4 py-2 rounded-md bg-blue-500 text-white font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50' %>
    <% else %>
      <p>表示することができない状態です</p>
    <% end %>
  </div>

<%= render 'search_form', q: @q, url: posts_path %>

  

  <div id="posts" class="mt-4">
    <% @posts.each do |post| %>
      <div class="py-4">
        <%= render post %>
        <p>
          <%= link_to t('links.view_post'), post, class: "text-blue-500 hover:text-blue-700" %>
        </p>
        <hr class="border-none h-px bg-gray-300 my-4"> <!-- 仮置き -->
      </div>
    <% end %>
  </div>

  <%= link_to t('links.new_post'), new_post_path, class: "block mt-4 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

  <%= form_with url: destroy_user_session_path, method: :delete, class: "mt-4" do |form| %>
    <%= form.submit t('posts.logout'), class: "block w-full text-center bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
