<p style="color: green"><%= notice %></p>

<h1 class="text-7xl text-blue-700">連絡事項一覧</h1>
<h1 class="text-3xl font-bold underline">
  Hello, world!
</h1>

<% if Rails.application.credentials.dig(:external_url, :hidden_link) %>
  <%= link_to '配車表', '/secret-link' %>
<% else %>
  <P>表示することができない状態です</p>
<% end %>

<%= render 'search_form', q: @q, url: posts_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to t('links.view_post'), post %>
    </p>
    <hr style="border: none; height: 1px; background-color: #ccc;"> <!-- 仮置き -->
  <% end %>
</div>

<%= link_to t('links.new_post'), new_post_path %>

<%= form_with url: destroy_user_session_path, method: :delete do |form| %>
  <%= form.submit t('posts.logout') %>
<% end %>